.task-container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .create-btn {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .create-btn:hover {
    background-color: #1d4ed8;
  }
  
  .task-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .task-table th, .task-table td {
    border: 1px solid #e2e8f0;
    padding: 10px;
    text-align: left;
  }
  
  .edit-btn {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .edit-btn:hover {
    background-color: #16a34a;
  }
  
  .delete-btn {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #b91c1c;
  }
  
  .error {
    color: red;
  }
  
  .empty {
    text-align: center;
    font-style: italic;
  }
  
  .todo {
    color: #f59e0b;
    font-weight: bold;
  }
  
  
  .done {
    color: #22c55e;
    font-weight: bold;
  }

  .success{
    color: #095a27;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  