.header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 25px;
  padding: 10px;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 25px;
  color: rgb(26, 119, 26);
  font-weight: 900;
}