<div class="task-container">

  <!-- Header -->
  <div class="header">
    <h2>Task List</h2>
    <app-button
      variant="secondary"
      routerLink="/task/create"
      label="+ Create Task">
    </app-button>
  </div>

  <!-- Loading -->
  <p *ngIf="loading">Loading tasks...</p>

  <!-- Error -->
  <p *ngIf="error" class="error">Something went wrong.</p>

  <!-- Success -->
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

  <!-- Empty State -->
  <div *ngIf="!loading && !error && tasks.length === 0" class="empty">
    No tasks available. Please create a task.
  </div>

  <!-- Reusable Table -->
  <app-table
    *ngIf="!loading && tasks.length > 0"
    [data]="tasks"
    [columns]="columns"
    [loading]="loading"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)">
  </app-table>

</div>
