.header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 25px;
  padding: 10px;
}

/* lft group: title and filter */
.header-left{
  display: flex;
  align-items: center;
  gap: 16px;
}


/* Title */

.header h2{
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 25px;
  color: rgb(26, 119, 26);
  font-weight: 900;
}

.status-dropdown{
  border: 2px solid black;
  padding: 5px;
  background-color:rgb(255, 255, 255);
}

app-search-input{
  margin-left: 500px;
}
