<nav class="navbar" *ngIf="authService.isLoggedIn()">
    <div class="navbar-left">
      <span class="app-name">User Task System</span>
    </div>
  
    <ul class="navbar-links">
      <li><app-button routerLink="/dashboard" routerLinkActive="active" label="Dashboard" variant="none"></app-button></li>
      <li><app-button routerLink="/task" label="Tasks" variant="none" ></app-button></li>
      <li><app-button label="Logout" variant="danger" (click)="logout()"></app-button></li>
    </ul>
  </nav>
  