<div class="dashboard-container">

    <!-- Welcome User -->
    <h2>Welcome, {{ username }} 👋</h2>
  
    <!-- Loading State -->
    <div *ngIf="loading" class="status-message">Loading dashboard...</div>
  
    <!-- Error State -->
    <div *ngIf="error" class="status-message error">Failed to load tasks.</div>
  
    <!-- Dashboard Summary -->
    <div *ngIf="!loading && !error">
  
      <!-- Empty State -->
      <div *ngIf="total === 0" class="empty-state">
        <p>No tasks available. Please create a task.</p>
        <app-button  variant="create-task" routerLink="/task/create"  label="+ Create Task"></app-button>
      </div>
  
      <!-- Summary Cards -->
      <div *ngIf="total > 0" class="summary-grid">
        
        <app-summary-card 
        *ngFor="let card of summaryCards"
        [title]="card.title"
        [value]="card.value"
        [description]="card.description">
        </app-summary-card>
  
      </div>
    </div>
  
  </div>
  